.cadastro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 0px auto;
    width: 1100px;
    padding-top: 6%;
}

.dados-cadastro {
    width: 25rem;
    margin: 0px 0px 0px 60px;
}

.dados-cadastro img {
    display: block;
    margin: 0 auto;
}

.dados-cadastro button {
    margin: 20px auto 0px auto;
}

.dados-cadastro a {
    display: block;
    width: 160px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 10px #E55A45;
    margin: 20px auto 0px auto;
    text-align: center;
}

.logo-ilustracao {
    padding: 0px;
    max-width: 700px;
}

.logo-ilustracao img {
    display: block;
    width: 100%;
}

@media(max-width: 1100px) {
    .cadastro-container {
        width: 350px;
        flex-direction: column;
    }
    .logo-ilustracao img {
        display: none;
    }
    .dados-cadastro {
        width: 100%;
        margin: 0px;
    }
}