.cadastro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 0px auto;
    width: 1100px;
    padding-top: 6%;
}

.cadastro-dado {
    width: 25rem;
    margin: 0px 0px 0px 60px;
}

.cadastro-dado img {
    display: block;
    margin: 0 auto;
}

.cadastro-dado button {
    margin: 20px auto 0px auto;
}

.cadastro-dado a {
    display: block;
    width: 180px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 10px #E55A45;
    margin: 20px auto 0px auto;
    text-align: center;
}

.cadastro-dado a svg {
    margin-right: 8px;
}

.cadastro-ilustracao { 
    padding: 0px;
    max-width: 700px;
}

.cadastro-ilustracao img {
    display: block;
    width: 100%;
}

@media(max-width: 1100px) {
    .cadastro-container {
        width: 350px;
        flex-direction: column;
    }
    .cadastro-ilustracao img {
        display: none;
    }
    .cadastro-dado {
        width: 100%;
        margin: 0px;
    }
}