.input-label {
    display: block;
    font-size: 24px;
    color: white;
    text-shadow: 0px 0px 10px #E55A45;
    font-weight: bold;
    margin-top: 20px;
}

.input-input {
    display: block;
    background-color: #FF5040;
    border: none;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 5px;
}

.input.error {
    background-color: #FF0066;
}

.foto-de-perfil {
    display: flex;
    align-items: center;
}
.foto-de-perfil label {
    cursor: pointer;
    display: block;
    font-size: 14px;
    color: white;
    font-weight: bold;
    background-color: #FF5040;
    display: inline-block;
    padding: 2px 30px;
    border-radius: 10px;
    transition: background .2s;
}

.foto-de-perfil label:hover {
    background-color: #E53D2E;
}

.foto-de-perfil input {
    display: none;
}
