.img-label{
    height: 477px;
    width: 477px;
    background: linear-gradient(135deg, #9833ff 0%, #5500cc 75%);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    color: #fff;
    margin-right: 90px;
}
.fundo{
    height: 100vh;
    background: #fff;
}

.minha-conta-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 0px auto;
    width: 100%;
    padding-top: 6%;
}
.minha-conta-input input{
    background-color: #FF5040;
    border: none;
    width: 439px;
    height: 43px;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    padding: 10px 20px;
}
.minha-conta-input label{
    font-size: 24px;
    font-weight: bold;
    margin-right: 95px;
}
.minha-conta-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

.btn-minha-conta{
    height: 50px;
    width: 211px;
    font-size: 24px;
    color: white;
    background-color: #FF5040;
    display: block;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    transition: background 0.2s;
    margin-top: 70px;
}
.btn-minha-conta:hover {
    background-color: #E53D2E;
    cursor: pointer;
}

.foto-de-perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foto-de-perfil p{
    font-size: 24px;
    font-weight: bold;
    margin-right: 17px;
}

.foto-de-perfil label {
    cursor: pointer;
    display: block;
    font-size: 14px;
    color: white;
    font-weight: bold;
    background-color: #FF5040;
    display: inline-block;
    padding: 5px 40px;
    border-radius: 10px;
    transition: background .2s;
}

.foto-de-perfil label:hover {
    background-color: #E53D2E;
}

.foto-de-perfil input {
    display: none;
}